@use 'variables' as *;

.navbar {
  background: $cream;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $brown;
  position: relative;
}

.logo {
  font-family: $font-serif;
  font-size: 24px;
  font-style: italic;
  color: $brown;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;

  a {
    font-size: 14px;
    color: $brown;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;

    &:hover { color: $terra; }
  }
}

.cvBtn {
  background: $terra;
  color: $brown !important;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 13px !important;
  font-weight: 500;
  transition: background 0.2s;

  &:hover { background: $rust; }
}

/* BURGER */

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.burgerLine {
  width: 24px;
  height: 2px;
  background: $brown;
  border-radius: 2px;
  transition: all 0.2s;
  display: block;
}

.burgerLineOpen {
  width: 24px;
  height: 2px;
  background: $terra;
  border-radius: 2px;
  display: block;

  &:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

/*MENU MOBILE*/

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: $cream;
  border-bottom: 3px solid $brown;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  gap: 16px;
  z-index: 99;
  align-items: center;

  a {
    font-size: 16px;
    color: $brown;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba($brown, 0.1);
    transition: color 0.2s;

    &:hover { color: $terra; }

    &:last-child { border-bottom: none; }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 14px 20px;
  }

  .links {
    display: none;
  }

  .burger {
    display: flex;
  }
}